doctype html
html
  head
    meta(charset='”utf-8″')
    title Buttons and Functions!
  body
    button(id='”clickMe”') Run Function
    script.
      var btn = document.getElementById(“clickMe”);
      btn.addEventListener(“click”, alertMe);
      function alertMe(){
      alert(“The button has been clicked!”);
      }

