html(lang='en')
	head
		title Please Upload XLSX or XLS file
		script(src='https://code.jquery.com/jquery-1.1.1.pack.js' integrity='sha256-aIROcR0yayONO43ZZgadzr177fNOhHlg/FqPXP6qfhI=' crossorigin='anonymous')
		script(lang='javascript' src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.8/xlsx.full.min.js')
		script.
			$(document).ready(function(){
			$("#fileUploader").change(function(evt){
			var selectedFile = evt.target.files[0];
			var reader = new FileReader();
			reader.onload = function(event) {
			var data = event.target.result;
			var workbook = XLSX.read(data, {
			type: 'binary'
			});
			var result = {};
			workbook.SheetNames.forEach(function(sheetName) {
			var XL_row_object = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName]);
			if(XL_row_object.length) result[sheetName] = XL_row_object;
			//var json_object = JSON.stringify(result, 2, 2);
			document.getElementById("dynamicMappingParameter1").innerHTML = JSON.stringify(result, 2, 2);
			document.getElementById("dynamicMappingParameter3").innerHTML = JSON.stringify(result, 2, 2);
			//-
				document.getElementById("dynamicMappingParameter3").innerHTML = JSON.stringify(result, 2, 2);
			})
			};
			reader.onerror = function(event) {
			console.error("File could not be read! Code " + event.target.error.code);
			};
			reader.readAsBinaryString(selectedFile);
			});
			});
	body
		input#fileUploader(type='file' name='fileUploader' accept='.xls, .xlsx')
		br
		br
		form(method='POST', action='/node/pug/form2sent')
			#form-group
					br
					br
					label.form-control(name='dynamicMappingParameter1')#dynamicMappingParameter1 JSON:

			#form-group
				label dynamicMappingParameter3:
				textarea#dynamicMappingParameter3.form-control(name='dynamicMappingParameter3')
			input.btn.btn-primary(type='submit', value='Abschicken')