h1 Bitte ausfüllen
form(method='POST', action='/node/pug/1abgeschickt')
	#form-group
		label dynamicMappingParameter1:
		input.form-control(name='dynamicMappingParameter1', type='text')
	#form-group
		label dynamicMappingParameter2:
		input.form-control(name='dynamicMappingParameter2', type='text')
	#form-group
		label dynamicMappingParameter3:
		textarea.form-control(name='dynamicMappingParameter3')
	input.btn.btn-primary(type='submit', value='Abschicken')