//-
	#############
	PUG Mixins Definition
	#############

mixin space()
	|&nbsp;&nbsp;&nbsp;&nbsp;
	
mixin br4b()
	|
	|&nbsp;&nbsp;&nbsp;&nbsp;

mixin br2b()
	|
	|&nbsp;&nbsp;
	
mixin br4()
	|
	|    

mixin br2()
	|
	|  

//-
	#############
	View Code Start
	#############

h1 Project Tucan v0.002
textarea#textArea(rows='25' cols='150' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false')
	//-
		#############
		  FUNCTION
		#############
	|FUNCTION "com.adweko.fsdm_training.sw.tucan::Contract" (
	+br4
	|    I_BUSINESS_DATE DATE,
	+br4
	|    I_SYSTEM_TIMESTAMP TIMESTAMP DEFAULT '9999-01-01'
	+br4
	|    )
	|
	//-
		#############
		  RETURN TABLE
		#############
	| RETURNS TABLE (
	- var counterReturnsTable = 0;
	for item in jsonMappingLayer
		for value, key in item
			if key == "TARGET_COLUMN"
				- counterReturnsTable++
				+br4
				|"
				=value
				|" 
			else if key == "Data Type Ziel"
				=value
				if counterReturnsTable < jsonMappingLayer.length
					| ,
	+br4
	|) LANGUAGE SQLSCRIPT SQL SECURITY INVOKER AS

	|
	|BEGIN
	+br2
	| /*****************************
	+br2
	| Write your function logic
	+br2
	| *****************************/
	+br2
	|RETURN
	|
	//-
		#############
		  SELECT DISTINCT
		#############
	+br2
	|SELECT DISTINCT
	- var counterSelectDistinct = 0;
	for item in jsonMappingLayer
		for value, key in item
			if key == "TARGET_COLUMN"
				- counterSelectDistinct++
				+br4
				|NULL AS "
				=value
				|"
				if counterSelectDistinct < jsonMappingLayer.length
					| ,
	+br2
	| FROM 
	=jsonSourceTableLayer[0].SCHEMA_NAME
	|.
	=jsonSourceTableLayer[0].TABLE_NAME 
	|  AS 
	=jsonSourceTableLayer[0].TABLE_ALIAS
	
	- var counterJoin = 0;
	for column in jsonSourceTableLayer
		if counterJoin > 0
			//-
				=column.SCHEMA_NAME
			|LEFT OUTER JOIN <SCHEMA1>.
			=column.TABLE_NAME 
			|  AS 
			=column.TABLE_ALIAS
			
			
			+br4
			| ON 
			- var counterAlpha =  1;
			for column in jsonJoinLayer
				if counterAlpha == counterJoin
					=column.INNER_TABLE_ALIAS
					|.
					=column.INNER_COLUMN_NAME
					|  
					=column.JOIN_OPERATOR 
					|  
					=column.OUTER_TABLE_ALIAS
					|.
					=column.OUTER_COLUMN_NAME
				- counterAlpha++
		- counterJoin++
		|
		|
		+br2
	|END;

h1 Bitte auf herunterladen Drücken

button#save(type='button' value='save' padding="15px 32px") Herunterladen
|   
button#copy(onclick='copy()' type='button' value='copy' padding="15px 32px") Kopieren


//-
	things that dont work for some reason
	=jsonJoinLayer[!{counterJoin}].INNER_COLUMN_NAME
	=jsonJoinLayer[={counterJoin}].INNER_COLUMN_NAME





































script.
	function saveTextAsFile()
	{
	var rightNow = new Date();
	var resDate = rightNow.toISOString().slice(0,10).replace(/-/g,"");
	var resTime = rightNow.toLocaleTimeString().replace(/:/g,"").slice(0,6);
	var fileName = resDate + '_' + resTime + '.hdbfunction';
	
	var textToWrite = document.getElementById('textArea').value;
	var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
	var fileNameToSaveAs = fileName;
	var downloadLink = document.createElement("a");
	downloadLink.download = fileNameToSaveAs;
	downloadLink.innerHTML = "Download File";
	if (window.webkitURL != null)
	{
	// Chrome allows the link to be clicked
	// without actually adding it to the DOM.
	downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
	}
	else
	{
	// Firefox requires the link to be added to the DOM
	// before it can be clicked.
	downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
	downloadLink.onclick = destroyClickedElement;
	downloadLink.style.display = "none";
	document.body.appendChild(downloadLink);
	}
	downloadLink.click();
	}
	var button = document.getElementById('save');
	button.addEventListener('click', saveTextAsFile);
	
	function copy() {
	let textarea = document.getElementById('textArea');
	textarea.select();
	document.execCommand("copy");
	}




