//-
	#############
	PUG Mixins Definition
	#############

mixin space()
	|&nbsp;&nbsp;&nbsp;&nbsp;
	
mixin br4()
	|
	|&nbsp;&nbsp;&nbsp;&nbsp;

mixin br4h()
	br
	|&nbsp;&nbsp;&nbsp;&nbsp;
	
- var whiteSpace = "&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32";

//-
	#############
	SQL Code Start
	#############

textarea#textArea(rows='25' cols='150')
	|FUNCTION "com.adweko.adapter.osx.datacollector::Contract" (
	+br4
	|    I_BUSINESS_DATE DATE,
	+br4
	|    I_SYSTEM_TIMESTAMP TIMESTAMP DEFAULT '9999-01-01'
	+br4
	|    )
	|
	| RETURNS TABLE (
	- var counter = 0;
	for item in sqlQuery
		for value, key in item
			if key == "TARGET_COLUMN"
				- counter++
				+br4
				|"
				=value
				|" 
			else if key == "Data Type Ziel"
				|"
				=value
				|"
				if counter < sqlQuery.length
					| ,


button#save(type='button' value='save' padding="15px 32px") Herunterladen


br
span
	|FUNCTION "com.adweko.adapter.osx.datacollector::Contract" (
	+br4h
	|    I_BUSINESS_DATE DATE,
	+br4h
	|    I_SYSTEM_TIMESTAMP TIMESTAMP DEFAULT '9999-01-01'
	+br4h
	|    )
	br
	| RETURNS TABLE (
	


- var counter = 0;
for item in sqlQuery
	+br4h
	|    
	for value, key in item
		if key == "TARGET_COLUMN"
			- counter++
			span= counter
			|"
			span= value
			|" 
		else if key == "Data Type Ziel"
			|"
			span= value
			|"
			if counter < sqlQuery.length
				| ,


script.
	function saveTextAsFile()
	{
	var textToWrite = document.getElementById('textArea').value;
	var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
	var fileNameToSaveAs = "myfile.hdbfunction";
	var downloadLink = document.createElement("a");
	downloadLink.download = fileNameToSaveAs;
	downloadLink.innerHTML = "Download File";
	if (window.webkitURL != null)
	{
	// Chrome allows the link to be clicked
	// without actually adding it to the DOM.
	downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
	}
	else
	{
	// Firefox requires the link to be added to the DOM
	// before it can be clicked.
	downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
	downloadLink.onclick = destroyClickedElement;
	downloadLink.style.display = "none";
	document.body.appendChild(downloadLink);
	}
	downloadLink.click();
	}
	var button = document.getElementById('save');
	button.addEventListener('click', saveTextAsFile);




