body
	h1 #{sqlQuery}
	

	


	

	
	h1 Values
	for item in sqlQuery
		p #
		for value, key in item
			if key == "TARGET_COLUMN"
				span= value
			else if key == "Data Type Ziel"
				span= value


	h1 Result1
	for item in sqlQuery
		p= item.TARGET_COLUMN

	h1 Target Column
	for item in sqlQuery
		p= item.TARGET_COLUMN

	h1 key value pair
	//-
	ul
		for item in sqlQuery
			for key, value in item
				li= key
				li= value


//- for loops have to be used since the following line is not supported in pug
//-		p= item.["Data Type Ziel"]


//-	h1 loop
//-	- var n = 0;
//-	ul
//-		while n < 4
//-		li = n++