mixin test(arg)
  div= arg

+test(
  function (arrays) {

  /* insert minified underscore.js here, available at http://underscorejs.org */

  var o = _.reduce(arrays, function(a,b) { return a.concat(b); }, []);
  return o.join(' ');
  } ([["Hello","world!"],["This","is","great!"]])
)