h1 Result1
for item in jsonMappingLayer
	p= item

//-
	for item in jsonMappingLayer
		for value, key in item
			if key == "TARGET_COLUMN"
				- counter++
				+br4
				|"
				=value
				|" 
			else if key == "Data Type Ziel"
				|"
				=value
				|"
				if counter < sqlQuery.length
					| ,